# =====================
# CHAMBER fan orchestration (names must be [fan_generic] in config)
# =====================
[gcode_macro CHAMBER_FANS_ON]
description: Turn on all chamber fans (assist warm-up)
gcode:
  TURN_BED_FAN_ON
  TURN_CHAMBER_FAN_ON
  TURN_FILTER_ON

[gcode_macro CHAMBER_HEATING_FANS_OFF]
description: Turn off chamber heating fans and while keeping filtration running (For cooldown)
gcode:
  TURN_BED_FAN_OFF
  TURN_CHAMBER_FAN_OFF
  TURN_FILTER_ON

[gcode_macro ALL_CHAMBER_FANS_OFF]
description: Turn off all chamber fans, including filter
variable_chamber_fan: ""
variable_bed_fan: ""
variable_filter_fan: ""
gcode:
  TURN_BED_FAN_OFF
  TURN_CHAMBER_FAN_OFF
  TURN_FILTER_OFF

[gcode_macro ALL_FANS_OFF]
description: Helper function that will also turn off the part-cooling fan
gcode:
  ALL_CHAMBER_FANS_OFF
  M107  ; part cooling off

[gcode_macro TURN_BED_FAN_ON]
description: turn on a bed fan if defined, to help with chamber heating
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.bed_fan %}       SET_FAN_SPEED FAN={v.bed_fan}       SPEED=1.0 {% endif %}

[gcode_macro TURN_BED_FAN_OFF]
description: turn off a bed fan if defined
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.bed_fan %}       SET_FAN_SPEED FAN={v.bed_fan}       SPEED=0.0 {% endif %}

[gcode_macro TURN_CHAMBER_FAN_ON]
description: turn on an additional fan in the chamber to assist with heating, if defined
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.chamber_fan %} SET_FAN_SPEED FAN={v.chamber_fan} SPEED=1.0 {% endif %}

[gcode_macro TURN_CHAMBER_FAN_OFF]
description: turn off an additional chamber fan if defined
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.chamber_fan %} SET_FAN_SPEED FAN={v.chamber_fan} SPEED=0.0 {% endif %}

[gcode_macro TURN_FILTER_ON]
description: turn on a filter if defined
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.filter_fan %} SET_FAN_SPEED FAN={v.filter_fan} SPEED=1.0 {% endif %}

[gcode_macro TURN_FILTER_OFF]
description: turn on a filter if defined
gcode:
  {% set v = printer["gcode_macro _PRINTER_VARS"] %}
  {% if v.filter_fan %} SET_FAN_SPEED FAN={v.filter_fan} SPEED=0.0 {% endif %}

[delayed_gcode FILTER_DELAYED_STOP]
gcode:
    RESPOND MSG="Turning filter fan off after a delay"
    SET_FAN_SPEED FAN=filter SPEED=0