# Part cooling fan
[fan]
# 4-pin fan connected to 2-pin header on Octopus V1.1 F446 - digital pwm
# enable_pin: VF6
pin: !PA8
#kick_start_time: 0.500
cycle_time: 0.01
off_below: 0.05 
tachometer_pin: PG6 # Made up pin name, look up your boards pinout diagram to get the pin name for the pin you've chosen
tachometer_poll_interval: 0.0005 # will support up to a 30.000 RPM fan with 2 pulses per rotation.

# Hotend cooling fan
[heater_fan toolhead_cooling_fan]
heater: extruder
# 2-pin fan connected to 2-pin header on Octopus V1.1 F446 - input voltage pwm
pin: PE5